<section class="hero-carousel">
  <app-annonces-public></app-annonces-public>
</section>
<div class="depot-container">
  <h2>💸 Faire un dépôt</h2>

  <div class="page-depot">
    <div class="page-depot1">
      <form (ngSubmit)="submitDepot()">
        <div *ngIf="transactionOptionsDisponibles.length === 0" class="alert-message">
          ⚠️ Attention! Vous n'avez aucun ID enregistrer.<br> Vous pouvez modifier votre profil en ajoutant vos ID
        </div>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Pays</mat-label>
          <mat-select [(ngModel)]="form.pays" name="pays" (selectionChange)="onPaysChange()" required>
            <mat-option *ngFor="let pays of paysOptions" [value]="pays.nom">{{ pays.nom }}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="numero-container">
          <mat-form-field appearance="fill" class="indicatif">
            <mat-label>Indicatif</mat-label>
            <input matInput [value]="form.indicatif" disabled />
          </mat-form-field>

          <mat-form-field appearance="fill" class="numero">
            <mat-label>Numéro</mat-label>
            <input matInput [(ngModel)]="form.numero" name="numero" required />
          </mat-form-field>
        </div>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Montant</mat-label>
          <input matInput type="number" [(ngModel)]="form.montant" name="montant" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Option de transaction</mat-label>
          <mat-select [(ngModel)]="form.optionDeTransaction" name="optionDeTransaction" required>
            <mat-option *ngFor="let opt of transactionOptionsDisponibles" [value]="opt.value">
              {{ opt.label }}
              <img [src]="'assets/images/' + opt.label + '.png'" [alt]="opt.label" class="logo-option" height="16" />
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Option de dépôt</mat-label>
          <mat-select [(ngModel)]="form.optionDepot" name="optionDepot" required>
            <mat-option value="O">Orange Money
              <img src="assets/images/OrangeMoney.png" alt="Orange Money" class="logo-option" height="20"/>
            </mat-option>
            <mat-option value="M">Moov Money
              <img src="assets/images/MoovMoney.png" alt="Moov Money" class="logo-option" height="22"/>
            </mat-option>
            <mat-option value="C">Carte Bancaire
              <img src="assets/images/CarteBancaire.jpeg" alt="Carte Bancaire" class="logo-option" height="20"/>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngIf="form.optionDepot === 'O' || form.optionDepot === 'M'" class="ussd-block">
          <p>💡 Cliquez sur le bouton ci-dessous pour lancer la transaction depuis votre téléphone :</p>

          <button mat-raised-button class="tel-button" color="accent" type="button" (click)="ouvrirTelephone()">
            📲 Lancer le code USSD
          </button>

          <p class="instruction">
            ➕ validez puis Complétez avec votre <strong>code PIN</strong> et validez !
          </p>
        </div>

        <div class="full-width file-zone">
          <label for="file">Capture de dépôt :</label>
          <input type="file" id="file" (change)="onFileSelected($event)" required />
        </div>

        <button mat-raised-button color="primary" type="submit">Soumettre</button>
      </form>
    </div>
    <!-- <div class="page-depot3">
      <app-odds></app-odds>
    </div> -->
    <div class="page-depot2">
      <app-matchs></app-matchs>
    </div>
  </div>
</div>
<app-footer></app-footer>
