<mat-card *ngIf="depot" class="depot-detail-card">
  <div class="header">
    <h2><span class="emoji">💸</span> Détail du dépôt</h2>
    <span class="badge"
      [ngClass]="{
        'pending': depot.transactionState === 'PENDING',
        'validated': depot.transactionState === 'VALIDATED',
        'rejected': depot.transactionState === 'REJECTED'
      }">
      {{
        depot.transactionState === 'PENDING' ? '⏳ En attente' :
        depot.transactionState === 'VALIDATED' ? '✅ Validé' :
        depot.transactionState === 'REJECTED' ? '❌ Rejeté' : 'Inconnu'
      }}
    </span>
  </div>
  <!-- Affichage du motif si rejeté -->
  <div *ngIf="depot.transactionState === 'REJECTED'" class="rejection-section">
    <mat-divider></mat-divider>
    <p class="motif-title">❗ Motif du rejet :</p>
    <p class="motif-texte">{{ motif || 'Nous avons rejeté votre dépôt' }}</p>

    <div class="call-admin">
      <!-- <p>Pour plus d'information contacter nos assistances</p> -->
      <a class="call-button" href="tel:+22660417255">📞 Appeler l’assistance</a>
    </div>
  </div>

  <h3 class="montant">Montant de dépôt : {{ depot.montant | number }} FCFA</h3>

  <div class="infos-grid">
    <p><strong>📞 Numéro :</strong> {{ depot.numeroEnvoyant }}</p>
    <p><strong>🌍 Pays :</strong> {{ depot.pays }}</p>
    <p><strong>💳 Option :</strong> {{ depot.optionDepot }}</p>
    <p><strong>🏦 Plateforme :</strong> {{ depot.optionDeTransaction }}</p>
    <p><strong>🆔 ID Plateforme :</strong> {{ getIdPlateforme(depot) }}</p>
    <p><strong>📅 Date :</strong> {{ depot.dateDepot | date:'dd/MM/yyyy - HH:mm:ss' }}</p>
  </div>

  <div *ngIf="depot.capture" class="image-section">
    <p><strong>🖼️ Preuve de dépôt :</strong></p>
    <img
      [src]="toBase64(depot.capture)"
      alt="Preuve dépôt"
      (click)="toggleZoom()"
      [class.zoomed]="zoomed"
    />
  </div>

  <div class="btn-retour">
    <button mat-stroked-button color="primary" (click)="goBack()">⬅️ Retour</button>
  </div>
</mat-card>

<div class="depot-detail-card empty" *ngIf="!depot">
  <p>Aucun dépôt trouvé.</p>
</div>
