<div class="pubs-carousel">
  <div class="carousel-wrapper" #carousel>
    <div class="carousel-slide" *ngFor="let pub of pubs; index as i" [title]="pub.titre">
      <a *ngIf="pub.lien" [href]="pub.lien" target="_blank" rel="noopener noreferrer">
        <img [src]="toBase64(pub.fichier)" [alt]="pub.titre" />
      </a>
      <ng-container *ngIf="!pub.lien">
        <img [src]="toBase64(pub.fichier)" [alt]="pub.titre" />
      </ng-container>
    </div>
  </div>

  <div class="dots" *ngIf="pubs.length > 1">
    <span
      class="dot"
      *ngFor="let pub of pubs; index as i"
      [class.active]="i === currentIndex"
      (click)="scrollTo(i)">
    </span>
  </div>
</div>
