.admin-clients {
  padding: 2rem;
  font-family: 'Roboto', sans-serif;

  h2 {
    margin-bottom: 1.5rem;
    color: #00adef;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
  }

  .logo {
    display: inline-block;
    margin-bottom: 1rem;
    margin-right: 1rem;
    cursor: pointer;
  }

  .search-bar {
    width: 100%;
    max-width: 400px;
    margin-bottom: 1rem;
    display: block;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
    font-size: 0.95rem;
  }

  th.mat-header-cell {
    background-color: #00adef;
    color: white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }

  td.mat-cell {
    background-color: #fff;
  }

  button {
    margin-right: 0.25rem;
  }

  @media (max-width: 768px) {
    .search-bar {
      width: 100%;
    }

    table {
      font-size: 14px;
    }
  }

  .stars {
    color: gold;
    font-size: 1.2em;
    letter-spacing: 0.05rem;
    font-family: 'Arial', sans-serif;
  }

  .badge {
    background: #fbc02d;
    color: #000;
    border-radius: 5px;
    padding: 2px 6px;
    margin-left: 8px;
    font-weight: bold;
    font-size: 0.85rem;
    font-family: 'Poppins', sans-serif;
  }

  .filter-section,
  .filters-reshearch {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .filter-input {
      width: 200px;
      margin-right: 10px;
    }

    .filter-button {
      margin-left: 10px;
    }
  }

  .chart-container {
    max-width: 500px;
    margin-bottom: 20px;

    canvas {
      width: 100% !important;
      height: auto !important;
    }
  }
}
