<!-- odds.component.html -->
<mat-form-field appearance="outline" class="full-width">
  <mat-label>Choisir un sport</mat-label>
  <mat-select [(ngModel)]="selectedSport" (selectionChange)="chargerOdds()">
    <mat-option *ngFor="let s of sports" [value]="s.key">
      {{ s.title }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div *ngIf="odds.length">
  <h3>🧮 Cotes disponibles :</h3>
  <div *ngFor="let match of odds" class="odd-card">
    <strong>{{ match.home_team }} vs {{ match.away_team }}</strong>
    <p>Bookmaker: {{ match.bookmakers[0]?.title }}</p>
    <ul>
      <li *ngFor="let market of match.bookmakers[0]?.markets">
        {{ market.key }} : {{ market.outcomes[0]?.name }} {{ market.outcomes[0]?.price }}
      </li>
    </ul>
  </div>
</div>
